<head></head>

<body>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>
<div id="bottom-bar">

        <a href="/dashboard"><button style="font-size: 20px">Back<i class="fa fa-arrow-circle-o-left"></i></button></a>
</a>
    </div>


    <center><% include ./partials/search %></center>
    <ul>
        <% include ./partials/friends %>
    </ul>


</body>