<!-- Preloader -->
<div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div>


<!-- *** Header Area Start *** -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">

                <!-- Logo -->
                <a class="nav-brand" href="index.html">
                    <h3>Wuphf</h3>
                </a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a href="./index.html">Home</a></li>
                        </ul>
                        <!-- Login / Register -->
                        <div class="login-register-btn mx-3">
                            <a href="/users/login">Login</a> <a href="/users/register"><span>/ Register</span></a>
                        </div>

                        <!-- Nav End -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- *** Header Area End *** -->

<!-- *** Welcome Area Start *** -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="background-curve">
                <img src="img/home-page/core-img/curve-1.png" alt="">
            </div>

            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Wuphf leads to<br>
                                    <span>efficiency</span></h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">We will ensure our clients are always
                                    responded to</h5>
                                <a href="/users/register" class="btn uza-btn btn-2" data-animation="fadeInUp"
                                    data-delay="700ms">Get Started</a>
                            </div>
                        </div>
                        <!-- Welcome Thumbnail -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-thumbnail">
                                <img src="https://www.publicdomainpictures.net/pictures/180000/nahled/dog-using-laptop-computer.jpg"
                                    alt="" data-animation="slideInRight" data-delay="400ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- *** Welcome Area End *** -->

<!-- *** About Us Area Start *** -->
<section class="uza-about-us-area">
    <div class="container">
        <div class="row align-items-center">

            <!-- About Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail mb-80">
                    <img src="http://www.liberaldictionary.com/wp-content/uploads/2019/02/labradoodle-1247.jpg" alt="">
                    <!-- Video Area -->
                    <div class="uza-video-area hi-icon-effect-8">
                        <a href="https://www.youtube.com/watch?v=OrVskziCc4w" class="hi-icon video-play-btn"><i
                                class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-md-6">
                <div class="about-us-content mb-80">
                    <h2>We're Wuphf</h2>
                    <p>NO ONE will ever forget to look at your messages, they will be bombraded from every direction
                        with wuphf.</p>
                    <p>Wuphf sends a text message, a call, an email, a facebook messenger message and a whatsapp message
                        all at the same time</p>
                </div>
            </div>
        </div>
    </div>

    <!-- About Background Pattern -->
    <div class="about-bg-pattern">
        <img src="img/home-page/core-img/curve-2.png" alt="">
    </div>
</section>
<!-- *** About Us Area End *** -->


<!-- Border -->
<div class="container">
    <div class="border-line"></div>
</div>

<!-- *** Footer Area Start *** -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact Us</h4>

                    <!-- Footer Content -->
                    <div class="footer-content mb-15">
                        <p>Fremont High School <br> wuphf.net@gmail.com</p>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Quickity Links</h4>

                    <!-- Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="www.facebook.com/andy.wuphf.7">About Us</a></li>
                            <li><a href="wuphf.net@gmail.com">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">About Us</h4>
                    <p>Wuphf is an Office-inspired application made for Matador Hacks</p>

                    <!-- Copywrite Text -->
                    <div class="copywrite-text mb-30">
                        <p>&copy; Copyright 2019 <a href="#">Wuphf</a>.</p>
                    </div>

                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="www.facebook.com/andy.wuphf.7" class="facebook" data-toggle="tooltip"
                            data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 30px;">

            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | Wuphf
        </div>

    </div>
</footer>
<!-- *** Footer Area End *** -->

<!-- ***** All JS Files ***** -->
<!-- jQuery js -->
<script src="js/home-page/jquery.min.js"></script>
<!-- Popper js -->
<script src="js/home-page/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/home-page/bootstrap.min.js"></script>
<!-- All js -->
<script src="js/home-page/uza.bundle.js"></script>
<!-- Active js -->
<script src="js/home-page/default-assets/active.js"></script>